/*---------------------------------------------------------------------------------------------
        GENERAL VARIABLES
----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------
        IMPORT FONTS: Open Sans
----------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansbold_italic';
  src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("../fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*---------------------------------------------------------------------------------------------
        IMPORT FONTS: Monserrat
----------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'montserratblack';
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratextra_bold';
  src: url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrathairline';
  src: url("../fonts/montserrat-hairline-webfont.woff2") format("woff2"), url("../fonts/montserrat-hairline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../montserrat-regular-webfont.woff2") format("woff2"), url("../montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratsemi_bold';
  src: url("../montserrat-semibold-webfont.woff2") format("woff2"), url("../montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratultra_light';
  src: url("../montserrat-ultralight-webfont.woff2") format("woff2"), url("../montserrat-ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*---------------------------------------------------------------------------------------------
        MAIN MENU
----------------------------------------------------------------------------------------------*/
.header {
  background: white;
  font-family: 'open_sanssemibold'; }
  .header .main-menu .nav-link {
    color: #0099d8;
    font-size: 0.875rem; }
    .header .main-menu .nav-link:hover {
      color: #404040; }
  .header .main-menu .active > .nav-link {
    color: #404040; }

/*---------------------------------------------------------------------------------------------
        SLIDER
----------------------------------------------------------------------------------------------*/
.slider .carousel-caption .title-slider {
  font-size: 1.5625rem; }
.slider .carousel-caption .btn-slider {
  font-size: 1rem;
  background-color: #0099d8;
  padding: .375rem 2rem;
  border: 0;
  border-radius: 1.25rem; }
  .slider .carousel-caption .btn-slider:hover {
    background-color: #017db3;
    border-color: #017db3; }

/*# sourceMappingURL=main.css.map */