/*---------------------------------------------------------------------------------------------
        GENERAL VARIABLES
----------------------------------------------------------------------------------------------*/
.bg-primary-ifk {
  background-color: #0099d8; }

.bg-primary-dark-ifk {
  background-color: #017db3; }

.bg-secondary-ifk {
  background-color: #404040; }

.bg-green {
  background-color: #54BE54; }

.bg-green-light {
  background-color: #9db167; }

.bg-green-dark {
  background-color: #227c55; }

.bg-cian {
  background-color: #3498db; }

.bg-brown {
  background-color: #72604b; }

.bg-brown-light {
  background-color: #927f6d; }

.bg-orange {
  background-color: #e4aa39; }

.bg-purple {
  background-color: #6964a0; }

/*---------------------------------------------------------------------------------------------
        IMPORT FONTS: Open Sans
----------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansbold_italic';
  src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("../fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*---------------------------------------------------------------------------------------------
        IMPORT FONTS: Monserrat
----------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'montserratblack';
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratextra_bold';
  src: url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrathairline';
  src: url("../fonts/montserrat-hairline-webfont.woff2") format("woff2"), url("../fonts/montserrat-hairline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratsemi_bold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratultra_light';
  src: url("../fonts/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*---------------------------------------------------------------------------------------------
        INDEX: MAIN MENU
----------------------------------------------------------------------------------------------*/
.header {
  background: white;
  font-family: 'open_sanssemibold'; }
  .header .main-menu .nav-link {
    color: #0099d8;
    font-size: 0.875rem; }
    .header .main-menu .nav-link:hover {
      color: #404040; }
  .header .main-menu .active > .nav-link {
    color: #404040; }

/*---------------------------------------------------------------------------------------------
        INDEX: SLIDER
----------------------------------------------------------------------------------------------*/
.slider .carousel-caption {
  bottom: 5rem; }
  .slider .carousel-caption .title-slider {
    font-size: 1.875rem;
    max-width: 25rem;
    font-family: "montserratsemi_bold"; }
  .slider .carousel-caption .btn-slider {
    font-size: 0.875rem;
    background-color: #0099d8;
    padding: 0.625rem 2rem;
    border: 0;
    border-radius: 1.25rem;
    font-family: "open_sansbold"; }
    .slider .carousel-caption .btn-slider:hover {
      background-color: #017db3;
      border-color: #017db3; }

/*---------------------------------------------------------------------------------------------
        INDEX: CATEGORIES
----------------------------------------------------------------------------------------------*/
.categories {
  padding: 5rem 0 5rem 0; }
  .categories .title-section {
    background: url("../images/ifk_line_separator.png") center bottom no-repeat;
    font-family: "montserratregular";
    font-size: 1.625rem;
    color: #404040; }
  .categories .description-section {
    font-family: "open_sansregular";
    font-size: 0.875rem;
    color: #404040; }
  .categories a {
    text-decoration: none; }
  .categories .item {
    font-family: "montserratlight";
    margin-bottom: 1.5rem; }
    .categories .item .item-icon {
      width: 6rem; }
    .categories .item .item-title {
      font-size: 1.25rem; }
    .categories .item .item-description {
      font-size: 0.625rem; }
    .categories .item:hover {
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

/*---------------------------------------------------------------------------------------------
        INDEX: CUSTOMERS
----------------------------------------------------------------------------------------------*/
.customers .title-customers {
  font-family: "montserratregular"; }
.customers .description-customers {
  font-family: "open_sansregular"; }
.customers .btn-customers {
  font-size: 0.875rem;
  background-color: none;
  padding: 0.625rem 2rem;
  border: 1px solid #fff;
  border-radius: 1.25rem;
  font-family: "open_sansbold";
  color: #fff;
  text-decoration: none; }
  .customers .btn-customers:hover {
    background-color: #fff;
    color: #0099d8; }

/*# sourceMappingURL=main.css.map */